/* ==============
 	footer
   ==============*/

@media(min-width:768px) and (max-width:991px) {
     /*----------------
     Quick links section
     ---------------*/
 	.cole_footer {
   		&--links {
			ul {
			    padding: 0 10px;
			    &:first-of-type {
			    	padding-left: 0;
			    }
			    &:last-of-type{
			    	padding-right: 0;
			    }
	   		}
   		}
    }

     /*----------------
     Quick links section
     ---------------*/
 	.cole_footer {
   		&--socialsection{
			ul {
			    margin: 20px auto;
    			width: 233px;
	   			li {
	   				margin-right: 8px;
	   				margin-bottom: 8px;
	   				&:last-child {
	   					margin-right : 0;
	   				}
	   			}
	   		}
   		}
    }  
}

