// // break points
// $large-desktop-brakpoint: 1200px;
// $small-desktop-brakpoint: 992px;
// $tab-devices-brakpoint: 768px;
// $mobilelandscape-devices-brakpoint: 550px;
// $mobileportrait-devices-brakpoint: 319px;
// // container widths
// $large-desktop-width: 1200px;
// $small-desktop-width: 970px;
// $tab-devices-width: 750px;
// $mobilelandscape-devices-maxwidth: 500px;
// $mobileportrait-devices-maxwidth: 360px;
//font family
$base-font: 'aktiv-grotesk',
sans-serif;
//color variables 
$white: #fff;
$black: #000;
$black-1: #0c4a78;
$black-2: #21252b;
$black-3: #4a4a4a;
//colors
$blue-3: #2ccce8;
$pink-1: #e91a89;
$blue-6: #f3fbff;
$blue-7: #2489cd;
$gray-2: #f4f4f4;
$blue-1: #2a9cd7;
$blue-2: #4a89dc;
$orange-1: #ff661b;
$gray-1: #46444f;
$blue-5: #5d9cec;
$blue-4: #d4f0ff;
$red:red;
$gray-3: #5f6e7f;
$gray-4: #979797;
$gray-5: #cbcbcb;
$gray-6: #d3d3d3;
$gray-7: #f0f3f9;
$gray-8: #e6e6e6;
$gray-9: #dddddd;
$gray-10: #ecebf0;
$gray-11: #6f6f70;
$gray-12: #36343e;
$gray-13: #989898;
$gray-14: #666666;
$gray-15: #888888;
$gray-16: #f0f0f0;
$hover-box: 0 0 7px rgba(0, 0, 0, 0.9);